{% extends 'index.html' %}
{% block content %}

<div>
    <div>
        <ul class="nav nav-tabs">
            {% for filename, file in filedetails.items() %}
            {% if loop.index == 1 %}
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#file-{{ loop.index }}">
                    <b>{{ file.source_file_name }}</b>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#file-{{ loop.index }}">
                    <b>{{ file.source_file_name }}</b>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="tab-content tab-box">
        {% for filename, file in filedetails.items() %}
        {% if loop.index == 1 %}
        <div id="file-{{ loop.index }}" class="tab-pane active">
            {% else %}
            <div id="file-{{ loop.index }}" class="tab-pane fade">
                {% endif %}
                <div>
                    <a class="btn btn-primary mt-3 mb-3" data-toggle="collapse" href="#file-source-{{ loop.index }}"
                        role="button" aria-expanded="false" aria-controls="file-source-{{ loop.index }}">
                        View Raw Source Data
                    </a>
                    <div class="collapse" id="file-source-{{ loop.index }}">
                        <div class="card card-body">
                            <pre>{{ file.source_file_contents }}</pre>
                        </div>
                    </div>
                    <div>
                        {% for day, matrix in file.daywise_timetable.items() %}
                        <h3 style="width: 100%; text-align: center; color: indigo;" class="mt-2 mb-2">{{ day }}</h3>
                        <table class="table table-sm table-stripped">
                            <thead class="thead-light">
                                <tr>
                                    <th style="text-align: center;">Period</th>
                                    {% for _, class in file.classrooms.items() %}
                                    <th style="text-align: center;">{{ class.name }}</th>
                                    {% endfor %}
                                </tr>
                                {% for row in matrix %}
                                <tr>
                                    {% set row_idx = loop.index %}
                                    <td class="bg-dark" style="color: white; text-align: center;">
                                        {{ loop.index }} ({{ file.hours[row_idx-1] }} IST)
                                    </td>
                                    {% for class in row %}
                                    {% if not class %}
                                    <td></td>
                                    {% else %}
                                    {% set class = file.class_list[class-1] %}
                                    <td style="text-align: center;">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#file-{{ filename }}-{{ day }}-{{ row_idx }}-{{ loop.index }}">
                                            {{ class.id }}
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade"
                                            id="file-{{ filename }}-{{ day }}-{{ row_idx }}-{{ loop.index }}"
                                            tabindex="-1" role="dialog"
                                            aria-labelledby="#modal-file-{{ filename }}-{{ day }}-{{ row_idx }}-{{ loop.index }}"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"
                                                            id="modal-file-{{ filename }}-{{ day }}-{{ row_idx }}-{{ loop.index }}">
                                                            Class {{ class.id }} Details
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p style="text-align: left;">
                                                            Class ID = {{ class.id }}<br>
                                                            Subject = {{ class.subject }}<br>
                                                            Teacher = {{ class.teacher }}<br>
                                                            Department = {{ class.type }}<br>
                                                            Duration = {{ class.duration }} Hrs<br>
                                                            Batches:
                                                            {% for group in class.groups %}
                                                            {{ file.group_list[group] }}
                                                            {% if loop.index != class.groups|length %},{% endif %}
                                                            {% endfor %}
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary">
                                                            Save changes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </thead>
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock content %}