{% extends 'index.html' %}
{% block content %}

<div>
    <div>
        <ul class="nav nav-tabs">
            {% for filename, file in filedetails.items() %}
            {% if loop.index == 1 %}
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#file-{{ loop.index }}">
                    <b>{{ file.source_file_name }}</b>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#file-{{ loop.index }}">
                    <b>{{ file.source_file_name }}</b>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="tab-content tab-box">
        {% for filename, file in filedetails.items() %}
        {% if loop.index == 1 %}
        <div id="file-{{ loop.index }}" class="tab-pane active">
            <div class="row">
                <div class="col-5 mycontent-left">
                    <pre>{{ file.source_file_contents }}</pre>
                </div>
                <div class="col-6">
                    <pre> {{ file.scheduled_file_contents }} </pre>
                </div>
            </div>
        </div>
        {% else %}
        <div id="file-{{ loop.index }}" class="tab-pane fade">
            <div class="row">
                <div class="col-5 mycontent-left">
                    <pre>{{ file.source_file_contents }}</pre>
                </div>
                <div class="col-6">
                    <pre> {{ file.scheduled_file_contents }} </pre>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}